/*section*/
.section{width: 50%; padding:20% 0; margin: 0 auto; color: #c52f00}
	.section h2{width: 100%; text-align: center; font-size: 3.5em}
	.section h3{width: 100%; text-align: center; font-size: 1.9em;}
	.section button{padding:1.5% 3%;}