*{margin: 0; padding: 0;box-sizing: border-box; font-family: 'PT Serif', serif;}
body{background: url('http://kr.clipart.me/1051/graphic-paper-pattern')}

/*header*/
header{width: 70%; height: 150px; margin: 0 auto;}
header h1{width: 210px; height: 150px; border: 1px solid #000; float: left;}
header .nav{width: 150px; height: 150px; border: 1px solid #000; float: right;}

/*section*/
.section{width: 50%; margin: 0 auto}
.section h2{width: 100%; text-align: center}
.section h3{width: 100%; text-align: center;}
.section button{width:130px; height: 42px; border: 1px solid #fff; background: none; margin: 0 auto; color: #fff; display: block}
.section button:hover{}

/*footer*/
footer{clear: both; width: 100%; height: 200px; position: relative; bottom: 0; right: 0;}
footer > p{position: absolute; right: 0; bottom: 0;}